<header>
    <div class="nav">
        <div class="hamburger"><img src="{% link assets/icons/Hamburger_icon.svg %}" alt="Navigate menu"></div>
        <nav id="top">
            <ul>
                <li><a href="{% link index.html %}">Home</a></li>
                <li><a href="{% link news-page.html %}">News</a></li>
                <li><a href="{% link scores.html %}">Scores Archive</a></li>
            </ul>
        </nav>
        <a href="{% link index.html %}"><div class="logo-nav"><img src="{% link assets/img/CAROLINA HOCKEY 1.1.png %}" alt="Carolina Women's Hockey logo"></div></a>
    </div>
</header>   
