---
---
<html lang="en">
    <head>
        <link rel="stylesheet" href="styles.less">
        <title>{{ page.title }}</title>
    </head>
    <body>
        <header>
            <div id="logo-top">
                <img>
            </div>
            <nav>
                <ul>
                    <a><li>Home</li></a>
                    <li>News</li>
                    <li>Scores Archive</li>
                </ul>
            </nav>
            <h1>{{ page.title }}</h1>
            {{ content }}
        </header>
    </body>
</html>